@using DataAccess.DTO;
@using ShoppingWebAPI.Request;
@using System.Text.Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    HttpContext context = Context.Request.HttpContext;
    List<SupportDTO> supportDTOs = ViewBag.supports as List<SupportDTO>;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home">home</a></li>
                        <li>/</li>
                        <li>support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row">

            <!--login area start-->
            <h2>Connect with supporters</h2>
            <div style="border: 1px solid gray;" class="col-lg-12 col-md-12">
                <div class="account_form register">
                    <input style="display:none;" value="@context.Session.GetString("Email")" id="userInput" type="text">
                    <div style="height:500px;" class="login_submit">
                        <ul style="max-height: 500px; overflow:auto;" id="messageList">
                            @if (supportDTOs.Count != 0)
                            {
                                foreach (var item in supportDTOs)
                                {
                                    <li class="message-item">@item.Message</li>
                                }
                            }
                        </ul>
                    </div>
                    <p>
                        <label>Message  <span>*</span></label>
                        <input id="messageInput" type="text">
                    </p>
                    <div style="display:flex;" class="login_submit">
                        <input style="color:white; background-color:gray;" type="button" id="sendButton" value="Send Message" />
                    </div>

                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<style>
    .message-item {
        text-align: left; /* Căn lề về phía bên trái */
        list-style: none; /* Loại bỏ dấu đầu dòng mặc định của <li> */
        margin-bottom: 5px; /* Khoảng cách giữa các tin nhắn */
        padding: 0; /* Loại bỏ khoảng cách lề mặc định của <li> */
    }

</style>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>