@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home">home</a></li>
                        <li>/</li>
                        <li>contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact_message content">
                    <h3>contact us</h3>
                    <p>
                        I am seeking an opportunity to work in a dynamic environment where I can continuously strive to learn and grow, both personally and professionally. I am highly motivated to contribute my skills and knowledge to create the best possible products for the company. I am eager to be part of a team that values innovation, collaboration, and excellence. With a strong passion for continuous learning, I am committed to staying up-to-date with the latest industry trends and technologies to make a meaningful impact on the company's success.
                    </p>
                    <ul>
                        <li><i class="fa fa-fax"></i>  Address : Phu Thuy, Le Thuy, Quang Binh</li>
                        <li><i class="fa fa-phone"></i> (+84) 708908567 </li>
                        <li><i class="fa fa-envelope-o"></i><a href="#">ducdn21102001@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact_message form">
                    <h3>Enter information to receive notifications</h3>
                    <form method="POST" asp-action="SendMail" asp-controller="Contact">
                        <p>
                            <label> Your Name (required)</label>
                            <input name="Name" placeholder="Name *" type="text">
                        </p>
                        <p>
                            <label>  Your Email (required)</label>
                            <input name="Email" placeholder="Email *" type="email">
                        </p>
                        <p>
                            <label>  Subject</label>
                            <input name="Subject" placeholder="Subject *" type="text">
                        </p>
                        <div class="contact_textarea">
                            <label>  Your Message</label>
                            <textarea placeholder="Message *" name="Message" class="form-control2"></textarea>
                        </div>
                        <button type="submit"> Send</button>
                        @if (ViewBag.status != null)
                        {
                            <div style="margin-top:13px;" class="alert alert-success" role="alert">
                                @ViewBag.status
                            </div>
                        }
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->
<!--contact map start-->
<div class="contact_map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div><iframe id="scrMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30493.025388752973!2d106.71119193213933!3d17.188289350200346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3140b1cd1b23589b%3A0x80c3430968d5f468!2zUGh1zIEgVGh1zIl5LCBM4buHIFRo4buneSwgUXXhuqNuZyBCw6xuaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1692675111579!5m2!1svi!2s"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</div>
<!--contact map end-->
<style>
    #scrMap{
        width:100vw;
    }
</style>